<h1>Update member</h1>
<form *ngIf="updateMemberForm" class="mt-5 col-md-6 m-auto" [formGroup]="updateMemberForm" (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
        <label for="firstName" class="form-label">Prénom</label>
        <div class="input-group">
            <input placeholder="Entrer le prénom de votre member" formControlName="firstName" type="text"
                class="form-control" aria-describedby="userHelp" id="firstName">
        </div>
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Nom de famille</label>
        <div class="input-group">
            <input placeholder="Entrer le nom de famille de votre membre" formControlName="surname" type="text"
                class="form-control" aria-describedby="userHelp" id="surname">
        </div>
    </div>
    <div class="mb-3">
        <label for="codeDep" class="form-label">Code départemental</label>
        <div class="input-group">
            <input placeholder="Entrer les premiers deux chiffres de son département" formControlName="codeDep"
                type="number" class="form-control" aria-describedby="userHelp" id="codeDep">
        </div>
    </div>
    <div class="d-grid col-12 col-md-2 ms-auto">
        <button [disabled]="updateMemberForm.invalid" type="submit" class="btn btn-primary text-nowrap">Update</button>
    </div>
</form>