<h1>Create new member</h1>
<form class="mt-5 col-md-6 m-auto" [formGroup]="newMemberForm" (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
        <label for="firstName" class="form-label">Prénom</label>
        <div class="input-group">
            <input placeholder="Entrer le prénom de votre member" formControlName="firstName" type="text"
                class="form-control" aria-describedby="userHelp" id="firstName">
        </div>
    </div>

    <div class="mb-3">
        <label for="surname" class="form-label">Nom de famille</label>
        <div class="input-group">
            <input placeholder="Entrer le nom de famille de votre membre" formControlName="surname" type="text"
                class="form-control" aria-describedby="userHelp" id="surname">
        </div>
    </div>

    <div class="mb-3">
        <label for="codeDep" class="form-label">Code départemental</label>
        <div class="input-group">
            <input placeholder="Entrer les premiers deux chiffres de son département" formControlName="codeDep"
                type="number" class="form-control" aria-describedby="userHelp" id="codeDep">
        </div>
    </div>
    <div *ngIf="listTypes">
        <label for="typeMember" class="form-label">Type de membre</label>
        <select class="form-select" aria-label="Sélectionner type membre" formControlName="typeMember">
            <option *ngFor="let type of listTypes" value={{type.id}} aria-placeholder="Sélectionner le type de membre">
                {{type.name}}</option>
        </select>
    </div>
    <div *ngIf="listTasks">
        <label for="taskMember" class="form-label">Tâche de membre</label>
        <select class="form-select" aria-label="Sélectionner tâche membre" formControlName="taskMember">
            <option *ngFor="let task of listTasks" value={{task.id}} aria-placeholder="Sélectionner le tâche de membre">
                {{task.name}}</option>

        </select>
    </div>
    <div>
        <div class="d-grid col-12 col-md-2 ms-auto">
            <button [disabled]="newMemberForm.invalid" type="submit" class="btn btn-primary text-nowrap">Créer
                membre</button>
        </div>
    </div>