<h1>Create new member</h1>
<form class="mt-5 col-md-6 m-auto" [formGroup]="newMemberForm" (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
        <label for="firstName" class="form-label">Prénom</label>
        <div class="input-group">
            <input placeholder="Entrer le prénom de votre member" formControlName="firstName" type="text"
                class="form-control" aria-describedby="userHelp" id="firstName">
        </div>
    </div>

    <div class="mb-3">
        <label for="surname" class="form-label">Nom de famille</label>
        <div class="input-group">
            <input placeholder="Entrer le nom de famille de votre membre" formControlName="surname" type="text"
                class="form-control" aria-describedby="userHelp" id="surname">
        </div>
    </div>

    <div class="mb-3">
        <label for="codeDep" class="form-label">Code départemental</label>
        <div class="input-group">
            <input placeholder="Entrer les premiers deux chiffres de son département" formControlName="codeDep"
                type="number" class="form-control" aria-describedby="userHelp" id="codeDep">
        </div>
    </div>

    <div>
        <label for="typeMembre" class="form-label">Type de membre</label>
        <select class="form-select" aria-label="Sélectionner type membre">
            <option selected>Sélectionner le type de membre</option>
            <option value="1">Senior</option>
            <option value="2">Bénévole</option>
        </select>
    </div>
    <div>
        <label for="typeMembre" class="form-label">Tâche de membre</label>
        <select class="form-select" aria-label="Sélectionner tâche membre">
            <option selected>Sélectionner la tâche de membre</option>
            <option value="1">Visite à domicile</option>
            <option value="2">Activité en groupe</option>
        </select>
    </div>