<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom text-center">Espace Assistante Sociale</h2>


    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a class="nav-link px-2 link-white"
                            routerLink="sign-in" routerLinkActive="active">Seniors</a></h2>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-1 text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a class="nav-link px-2 link-white"
                            routerLink="admin" routerLinkActive="active">Bénévoles</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>