<h1>Liste des seniors</h1>

<table class="table">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Code départemental</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of listMembers">
            <td>{{ member.firstName }}</td>
            <td>{{ member.surname }}</td>
            <td>{{ member.codeDep }}</td>
            <td>
                <!-- <button class="btn btn-warning" routerLink="/update/{{member._id}}">Modifier</button> -->
                <!-- <button class="btn btn-warning" routerLink="/update-member/{{member._id}}">Modifier</button> -->
                <button class="btn btn-warning" routerLink="/update-member/1">Modifier</button>
            </td>
            <!--             <td>
                <button class="btn btn-warning" routerLink="/update">Modifier</button>
                <button class="btn btn-warning" (click)="onClickUpdateMember(member)">Modifier</button>
            </td>
        -->
            <!-- {{member._id}} -->
            <!--             <td>
                <button class="btn btn-danger" (click)="onClickDeleteMember(member._id)">
                    Supprimer
                </button>
            </td>
 -->
        </tr>
    </tbody>

    <article *ngIf="detail">
        <p>Prénom: {{ detail.firstName }}</p>
        <p>Nom: {{ detail.surname }}</p>
        <p>Code départemental: {{ detail.codeDep }}</p>
    </article>

</table>